@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@media (max-width: 501px) {
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar i {
    font-size: 35px;
  }
  .navbar .logoImage {
    width: 20%;
  }
  .navbar .accauntImage {
    width: 5%;
  }
  .titleMain {
    text-align: center;
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
