@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gabarito&family=Inter:wght@500&display=swap");

body {
  display: none;
}

@media (max-width: 501px) {
  body {
    display: block;
  }

  .navbar {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }

  .navbar i {
    font-size: 30px;
    cursor: pointer;
    position: relative;
  }

  .navbar .logoImage {
    width: 84px;
  }

  .navbar .accauntImage {
    width: 22px;
    height: 22px;
  }

  .titleMain {
    text-align: center;
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .card_Menu_div h1 {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }

  .card_Menu_div {
    width: 150px;
    display: block;
  }

  .card_Menu_div_img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: #e8e8e8;
    overflow: hidden;
  }

  .card_Menu_div_img img {
    width: 100%;
    height: 100%;
  }

  .card_Menu {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    gap: 10px;
  }

  .div_button_Main {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e8e8e8;
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
    margin-top: 7%;
  }

  .div_button_Main h1 {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -20px;
  }

  .div_button_Main img {
    width: 50px;
  }

  .div_button_Main i {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }

  .div_button_adress_Main_div {
    width: 40%;
    border-radius: 20px;
    background: #e8e8e8;
    padding: 10px;
  }

  .div_button_adress_Main_div h1 {
    text-align: center;
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
  }

  .div_button_adress_Main_div p {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 50px;
  }

  .main_location img {
    width: 32px;
    height: 32px;
    margin-top: 5px;
  }

  .main_location {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .div_button_adress_Main {
    width: 95%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: auto;
    margin-top: 7%;
  }

  .media_Menu_navbar {
    width: 100%;
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    right: 0;
    transition: 0.4s;
  }

  .media_Menu_navbar_scroll {
    overflow: scroll;
    width: 100%;
    height: 100%;
    margin-top: 60px;
  }

  .media_Menu_navbar_modal {
    width: 294px;
    margin-bottom: 100px;
    padding-bottom: 35px;
    background-color: #fff;
    border-radius: 0px 40px 40px 0px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 100;
  }

  .media_Menu_navbar_modal_div_user {
    width: 100%;
    min-height: 117px;
    /* background-color: #fff; */
    border-radius: 0px 40px 40px 0px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 0;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .media_Menu_navbar_modal_subscribe img {
    width: 47px;
    height: 47px;
  }

  .media_Menu_navbar_modal_div_user img {
    width: 52px;
    height: 52px;
    margin-left: 25px;
  }

  .media_Menu_navbar_modal_div_user_div {
    display: block;
  }

  .media_Menu_navbar_modal_div_user_div h1 {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0px;
  }

  .media_Menu_navbar_modal_div_user_div p {
    color: #777;
    font-family: Yandex Sans Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0;
  }

  .media_Menu_navbar_modal_subscribe {
    width: 94%;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px 40px 40px 0px;
    background: #ffe500;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-top: 14px;
    padding-bottom: 10px;
  }

  .media_Menu_navbar_modal_subscribe h1 {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .media_Menu_navbar_modal_subscribe button {
    width: 49px;
    height: 28px;
    border-radius: 10px;
    border: 1px solid #7b7878;
    background: none;
    color: #7b7878;
  }

  .media_Menu_navbar_modal_text {
    width: 90%;
    display: block;
    padding: 7px;
    margin-top: 15px;
    margin-bottom: 90px;
  }

  .media_Menu_navbar_modal_text h1 {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 7px;
  }

  .media_Menu_navbar_modal_text_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .media_Menu_navbar_modal_text_div img {
    width: 33px;
    height: 33px;
  }

  .media_Menu_navbar_modal_text_line {
    width: 100%;
    height: 1px;
    background-color: #bdb9b9;
  }

  .subscribes_Modal {
    width: 100%;
    position: fixed;
    left: -105%;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #5e5e5e73;
    overflow: hidden;
    overflow: scroll;
  }

  .subscribes_Modal_arrow {
    width: 25px;
    height: 25px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    margin-left: 14.7px;
    margin-top: 17px;
  }

  .subscribes_Modal_arrow i {
    color: #535353;
    font-size: 22px;
  }

  .subscribes_Modal_div {
    min-height: 100vh;
    margin-top: 25px;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    background: #fff;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .subscribes_Modal_div h1 {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 5px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .subscribes_Modal_div p {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 20px;
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .subscribes_Modal_div p span {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .subscribes_Modal_div_card_big_div {
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 15px;
    width: 100px;
    min-width: 100px;
    border-radius: 20px;
    background: linear-gradient(rgba(158, 255, 203, 1), rgba(0, 255, 10, 1));
  }

  .subscribes_Modal_div_card_big_div:nth-child(2) {
    background: #fff !important;
    border: 2px solid rgb(255, 0, 247);
  }

  .subscribes_Modal_div_card_big_div:nth-child(3) {
    background: #fff !important;
    border: 2px solid rgb(179, 0, 255);
  }

  .subscribes_Modal_div_card_big_div_emblema {
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 1px;
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 0;
    padding: 4px 8px 4px 8px;
    background: #fff;
  }

  .subscribes_Modal_div_card_big_div h1 {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin-top: 5px;
  }

  .subscribes_Modal_div_card_big_div p {
    color: #535353;
    font-family: Yandex Sans Text;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    margin-top: 5px;
  }

  .subscribes_Modal_div_card_big {
    width: 93%;
    margin-left: auto;
    overflow: scroll;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 15px;
    /* padding-right: 25px; */
  }

  .subscribes_Modal_div_subscribes {
    /* width: 100%; */
    display: block;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
  }

  .subscribes_Modal_div_subscribes_card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px 23px 15px 23px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .subscribes_Modal_div_subscribes_card img {
    width: 32px;
    height: 32px;
  }

  .subscribes_Modal_div_subscribes_card p {
    padding: 0;
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .trips_Modal {
    width: 100%;
    background-color: #5e5e5e73;
    position: fixed;
    left: -105%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
  }

  .trips_Modal_big {
    margin-top: 25px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 40px 40px 0px 0px;
    background: #fff;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .trips_Modal_big h1 {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .pay_Modal_div_big_two {
    width: 90%;
    margin: auto;
    margin-top: 25px;
  }
  .pay_Modal_div_big_two img {
    width: 120px;
  }
  .pay_Modal_div_big_two_text h2 {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2px;
  }
  .pay_Modal_div_big_two_text h1 {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
  }
  .pay_Modal_div_big_two_text p {
    color: #979595;
    font-family: Yandex Sans Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 1px;
  }
  .pay_Modal_div_big_two_text p i {
    font-size: 23px;
  }
  .pay_Modal_div_big_two_button {
    margin-top: 40px;
    width: 100%;
    border-radius: 20px;
    background: #ecfcff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .pay_Modal_div_big_two_button_flex {
    padding: 20px 15px 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pay_Modal_div_big_two_button_flex1 {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .pay_Modal_div_big_two_button_flex img {
    width: 25px;
    height: 25px;
  }
  .pay_Modal_div_big_two_button_flex1 img {
    width: 46px;
    height: 46px;
  }
  .pay_Modal_div_big_two_button_flex1 h1 {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
  }
  .pay_Modal_div_big_two_button_flex1 p {
    color: #535353;
    font-family: Yandex Sans Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
  }

  .trips_Modal_big_button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 15px; */
    margin-bottom: 30px;
  }
  .pay_Modal_div_big_two_card {
    width: 100%;
    border-radius: 20px;
    background: #ecfcff;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .pay_Modal_div_big_two_card_text {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    padding-top: 25px;
  }
  .trips_Modal_big_button button {
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
    border: 1px solid #000;
    background: #ffe100;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .pay_Modal_div_big_two_card_text_one {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .pay_Modal_div_big_two_card_text_one img {
    width: 46px;
  }
  .pay_Modal_div_big_two_card_text_one h1 {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .pay_Modal_div_big_two_card_text_two {
    display: block;
    width: 100%;
    position: relative;
    margin-top: 20px;
  }
  .pay_Modal_div_big_two_card_text_two p {
    color: #535353;
    font-family: Yandex Sans Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    padding-left: 15px;
  }
  .pay_Modal_div_big_two_card_text_two input {
    border-radius: 20px;
    border: 1px solid #535353;
    width: 93.5%;
    background: #fff;
    height: 44px;
    padding-left: 20px;
  }
  .pay_Modal_div_big_two_card_text_two img {
    width: 34px;
    position: absolute;
    right: 7px;
    top: 29px;
  }
  .pay_Modal_div_big_two_card_text_three {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .pay_Modal_div_big_two_card_text_three_div {
    display: block;
  }
  .pay_Modal_div_big_two_card_text_three_div div {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .pay_Modal_div_big_two_card_text_three_div p {
    margin-bottom: 0;
    color: #535353;
    font-family: Yandex Sans Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
  }
  .pay_Modal_div_big_two_card_text_three_div_one p {
    color: #535353;
    font-family: Yandex Sans Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    padding-left: 15px;
  }
  .pay_Modal_div_big_two_card_text_four {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    margin-top: 20px;
  }
  .pay_Modal_div_big_two_card_text_four img {
    width: 15px;
  }
  .pay_Modal_div_big_two_card_text_four p {
    color: #535353;
    font-family: Yandex Sans Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
  }
  .pay_Modal_div_big_two_card_text_five {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 11px;
    padding-bottom: 20px;
  }
  .pay_Modal_div_big_two_card_text_five input {
    width: 15px;
    height: 15px;
  }
  .pay_Modal_div_big_two_card_text_five p {
    color: #535353;
    font-family: Yandex Sans Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .pay_Modal_div_big_two_card_text_four p span {
    color: #535353;
    font-family: Yandex Sans Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }
  #pay_Modal1 {
    overflow: hidden;
  }
  #pay_Modal_div {
    height: 82vh;
    overflow: scroll;
  }
  .pay_Modal_div_big_two_card_text_three_div_one input {
    width: 64px;
    height: 44px;
    border-radius: 20px;
    border: 1px solid #535353;
    background: #fff;
    font-size: 20px;
    text-align: center;
  }
  .pay_Modal_div_big_two_card_text_three_div div input {
    width: 64px;
    height: 44px;
    border-radius: 20px;
    border: 1px solid #535353;
    background: #fff;
    font-size: 20px;
    text-align: center;
  }

  .trips_Modal_big_card {
    display: block;
    border-radius: 20px;
    border: 5px solid #ffe100;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
  }

  .trips_Modal_big_card h1 {
    color: #000;
    text-align: right;
    font-family: Yandex Sans Text;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
  }

  .trips_Modal_big_card_text_one {
    width: 85%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin: auto;
    margin-top: 18px;
  }

  .trips_Modal_big_card_text_one p {
    color: #949191;
    font-family: Yandex Sans Text;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
  }

  .trips_Modal_big_card_text_two {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
    padding-bottom: 5px;
    border-bottom: 1px solid #949191;
    margin-bottom: 0px;
  }
  .trips_Modal_big_card_three {
    display: block;
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
  }
  .trips_Modal_big_card_three_text1 {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .trips_Modal_big_card_three_text1 p {
    color: #949191;
    font-family: Yandex Sans Text;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 7px;
    margin-top: 7px;
  }
  .trips_Modal_big_card_three_text1 h1 {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .pay_Modal {
    width: 100%;
    position: fixed;
    left: -105%;
    bottom: 0;
    top: 0;
    right: 0;
    background-color: #5e5e5e73;
    overflow: scroll;
  }
  .pay_Modal_div_small {
    width: 85%;
    margin: auto;
  }
  .pay_Modal_div_small img {
    width: 100%;
    margin-top: 30px;
  }
  .pay_Modal_div_card_one {
    width: 90%;
    border-radius: 20px;
    background: #fff;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 4px solid #e8fbff;
    margin-top: 10px;
  }
  .pay_Modal_div_card_one div img {
    width: 43px;
    height: 43px;
    margin-top: 0;
  }
  .pay_Modal_div_card_one div {
    display: flex;
    gap: 10px;
  }
  .pay_Modal_div_card_one img {
    width: 27px;
    height: 27px;
    margin-top: 0;
  }
  .pay_Modal_div_card_two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 89%;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 20px;
    background: #e8fbff;
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
  }
  .pay_Modal_div_card_two h1 {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .pay_Modal_div_card_two img {
    width: 26px;
    height: 26px;
    margin-top: 0;
  }
  .pay_Modal_div_card_one h1 {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .pay_Modal_div {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 40px 40px 0px 0px;
  }
  .trips_Modal_big_card_three_text1 span {
    color: #bdb9b9;
    border: 1px solid #bdb9b9;
    padding: 3px 5px 3px 5px;
    border-radius: 50%;
    font-family: Yandex Sans Text;
    font-size: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .trips_Modal_big_card_three_text1 img {
    width: 10px;
    height: 10px;
    margin-left: 2px;
  }
  .trips_Modal_big_card_text_two_star {
    display: flex;
    align-items: center;
    gap: 1px;
  }

  .trips_Modal_big_card_text_two_star i {
    font-size: 18px;
    color: rgba(255, 225, 0, 1);
  }

  .nastroyka-blat {
    width: 100%;
    height: 351px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: #ffffff;
    box-shadow: 5px -5px 20px 0px #00000040;
    position: absolute;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 50;
  }

  .nastroyka-ichi {
    width: 90%;
    margin: auto;
    padding-top: 30px;
  }

  .ujii h2 {
    font-family: "Gabarito", cursive;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }

  .ujii {
    margin-bottom: 15px;
  }

  .bir-qator-block {
    width: 100%;
    height: 67px;
    border-radius: 20px;
    background: #ffe100;
    box-shadow: 3px 4px 4px 0px #00000040;
    margin-bottom: 15px;
  }

  .bir-qator-block {
    display: flex;
    align-items: center;
  }
  .ssjj {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    top: 7px;
  }

  .bir-qator-block h3 {
    width: 100%;
    font-family: "Gab<div style";
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    margin-top: 0;
  }

  .orqa-fon {
    width: 100%;
    background-color: #5e5e5e73;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
    display: none;
  }

  .nazad {
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 50%;
    position: relative;
    z-index: 10;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .nastroyka-blat_text {
    width: 85%;
    margin: auto;
    margin-top: 30px;
    display: none;
  }

  .nastroyka-blat_text h1 {
    font-size: 12px;
    font-family: Yandex Sans Text;
  }

  .nastroyka-blat_text p {
    font-size: 10px;
    font-family: Yandex Sans Text;
    color: #777;
  }

  .bir-qator-block p {
    color: #979595;
    font-family: Yandex Sans Text;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
  }

  /* modal */

  .nastroyka-blat1 {
    width: 100%;
    height: 450px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: #ffffff;
    box-shadow: 5px -5px 20px 0px #00000040;
    position: absolute;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50;
    display: none;
  }
  .vaprosi-mm {
    width: 100%;
    height: 90%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: #ffffff;
    box-shadow: 5px -5px 20px 0px #00000040;
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    display: none;
  }
  .vaprosi-mm-textla {
    width: 100%;
    height: 90%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: #ffffff;
    box-shadow: 5px -5px 20px 0px #00000040;
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    display: none;
  }
  .vaprosi-mm-textla1 {
    width: 100%;
    height: 90%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: #ffffff;
    box-shadow: 5px -5px 20px 0px #00000040;
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    display: none;
  }

  .vaprosi-mm-textla2 {
    width: 100%;
    height: 90%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: #ffffff;
    box-shadow: 5px -5px 20px 0px #00000040;
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    display: none;
  }
  .vaprosi-mm-textla3 {
    width: 100%;
    height: 90%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: #ffffff;
    box-shadow: 5px -5px 20px 0px #00000040;
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    display: none;
  }
  .vaprosi-mm-textla4 {
    width: 100%;
    height: 90%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: #ffffff;
    box-shadow: 5px -5px 20px 0px #00000040;
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    display: none;
  }
  .vaprosi-mm-textla5 {
    width: 100%;
    height: 90%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: #ffffff;
    box-shadow: 5px -5px 20px 0px #00000040;
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    display: none;
  }
  .vaprosi-mm-textla6 {
    width: 100%;
    height: 90%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: #ffffff;
    box-shadow: 5px -5px 20px 0px #00000040;
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    display: none;
  }

  .vaprosi-mm-textla7 {
    width: 100%;
    height: 90%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: #ffffff;
    box-shadow: 5px -5px 20px 0px #00000040;
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    display: none;
  }

  .vaprosi-mm-textla8 {
    width: 100%;
    height: 90%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: #ffffff;
    box-shadow: 5px -5px 20px 0px #00000040;
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    display: none;
  }
  .vaprosi-mm-textla9 {
    width: 100%;
    height: 90%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: #ffffff;
    box-shadow: 5px -5px 20px 0px #00000040;
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    display: none;
  }

  .vaprosi-mm-ici {
    width: 90%;
    margin: auto;
    padding-top: 10px;
  }
  .vaprosi-mm-block {
    width: 100%;
    height: 67px;
    border-radius: 20px;
    background: #ffe100;
    box-shadow: 3px 4px 4px 0px #00000040;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .lsllsls {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
  }
  .lsllsls p {
    font-family: "Gabarito", cursive;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  .vaprosi-mm-block1 {
    width: 100%;
    height: 85px;
    border-radius: 20px;
    background: #ffe100;
    box-shadow: 3px 4px 4px 0px #00000040;
    margin-bottom: 15px;
    cursor: pointer;
  }
  .vaprosi-mm-block2 {
    width: 100%;
    height: 133px;
    border-radius: 20px;
    background: #ffe100;
    box-shadow: 3px 4px 4px 0px #00000040;
    margin-bottom: 15px;
    cursor: pointer;
  }

  .jkksss h2 {
    font-family: "Gabarito", cursive;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }

  .jkksss {
    margin-bottom: 45px;
  }
  .oopaadf span {
    color: #ff0000;
  }
  .oopaadf p {
    font-family: "Gabarito", cursive;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
  }
  .oopaadf {
    margin-bottom: 15px;
  }
  .inputyebat input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    font-family: "Gabarito", cursive;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 9px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 1px solid red;
    border-bottom: 1px solid #979595;
    color: #979595;
    margin-bottom: 5px;
  }
  .inputyebat {
    font-family: "Gabarito", cursive;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color: #979595;
  }
  .inputyebat {
    margin-bottom: 15px;
  }
  .aisdoiasidsa {
    font-family: "Gabarito", cursive;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
  }

  .btn-paspaspsaps {
    width: 100%;
    height: 70px;
    border-radius: 20px;
    background: #e8e8e8;
    box-shadow: 3px 4px 4px 0px #00000040;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-paspaspsaps button {
    width: 90%;
    margin: auto;
    border-radius: 20px;
    height: 48px;
    border: 1.5px solid #535353;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .btn-paspaspsaps button span {
    font-family: "Gabarito", cursive;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
  }
  .aisdoiasidsa1 {
    font-family: "Gabarito", cursive;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
    color: #979595;
    margin-bottom: 10px;
  }
  .oaosoasossss {
    width: 100%;
    height: 70px;
    border-radius: 20px;
    background: #ffe100;
    box-shadow: 3px 4px 4px 0px #00000040;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-family: "Gabarito", cursive;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
  }
  .text-vapros {
    padding-top: 5px;
  }
  .text-vapros h3 {
    font-family: "Gabarito", cursive;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #6f00ff;
  }
  .vaprosi-mm-ici h2 {
    font-family: "Gabarito", cursive;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }
  .text-vapros p {
    font-family: "Gabarito", cursive;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  .driver_Modal {
    width: 100%;
    position: fixed;
    left: -105%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #5e5e5e73;
  }
  .driver_Modal_div {
    margin-top: 30px;
    height: 100vh;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    background: #fff;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: scroll;
  }
  .driver_Modal_div_center {
    width: 80%;
    margin: auto;
    padding-top: 20px;
  }
  .driver_Modal_div_center h1 {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .driver_Modal_div p {
    color: #979595;
    font-family: Yandex Sans Text;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 100px;
  }
  .driver_Modal_div_center p {
    width: 85%;
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    text-align: start;
    margin-bottom: 10px;
  }
  .driver_Modal_div_center_span {
    height: 200px;
  }
  .driver_Modal_div_dumaloq_block {
    display: block;
    margin-bottom: 30px;
  }
  .driver_Modal_div_dumaloq_block h1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffe500;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .driver_Modal_div_dumaloq_block p {
    color: #fff;
    font-family: Yandex Sans Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .gift_Modal {
    width: 100%;
    position: fixed;
    left: -105%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #5e5e5e73;
  }
  .gift_Modal_div {
    height: 100vh;
    margin-top: 50px;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    background: #fff;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: scroll;
  }

  .driver_Modal_div_center_span span {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .driver_Modal_div_center_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #d9d9d9;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 13px;
  }
  .driver_Modal_div_center_block h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: Yandex Sans Text;
    font-size: 14px;
    font-weight: 500;
  }

  .driver_Modal_div_center_block p {
    margin-bottom: 0;
    margin-top: 5px;
    color: #979595;
    font-family: Yandex Sans Text;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
  }
  .driver_Modal_div_center_flex i {
    font-size: 20px;
  }
  .driver_Modal_div_center_button {
    width: 90%;
    border-radius: 30px;
    background: #ffe100;
    padding-top: 20px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
  }
  .driver_Modal_div_center_button_text_block {
    text-align: center;
  }
  .driver_Modal_div_center_button_text_block h1 {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
  }
  .driver_Modal_div_center_button_text_block p {
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;
  }
  .gift_Modal_div h1 {
    width: 100%;
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 30px;
    /* margin: auto; */
  }
  .gift_Modal_div_center {
    width: 85%;
    margin: auto;
  }
  .gift_Modal_div button {
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    background: #ffe500;
    border: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #000;
    text-align: center;
    font-family: Yandex Sans Text;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .gift_Modal_div_center h2 {
    color: #000;
    text-align: center;
    font-family: Yandex Sans Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 30px;
  }
  .gift_Modal_div_center h2 span {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background: #9effcb;
    margin-left: 5px;
    margin-right: 5px;
  }
  .gift_Modal_div img {
    width: 100%;
    margin-top: 25px;
  }
  .gift_Modal_div_center p {
    color: #949191;
    font-family: Yandex Sans Text;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
  }
  .gift_Modal_div_center input {
    padding-left: 15px;
    width: 100%;
    height: 50px;
    padding-right: 60px;
    border-radius: 20px;
    border: 1px solid #535353;
    color: #000;
    font-family: Yandex Sans Text;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .gift_Modal_div_center div{
    position: relative;
    width: 75%;
  }
  .gift_Modal_div_center div img {
    width: 30px;
    border-radius: 10px;
    border: 1px solid #535353;
    padding: 5px;
    position: absolute;
    right: -65px;
    top: 5.5px;
    margin-top: 0;
  }
}

@media (max-width: 361px) {
  .card_Menu_div {
    width: 130px;
    display: block;
  }
}
